.detailCont{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.detName{
    font-size: 35px;
    color: antiquewhite;
    margin-bottom: 1.5em;
}

.detImg{
    width: 600px;
    height: 450px;
}

.detDiet{
    color: antiquewhite;
    font-size: 20px;
}

.dtltext{
    padding: 1em;
    border-radius: 1em;
    font-size: 20px;
    width: 1500px;
    text-align: center;
    line-height: 30px;
    background-color: aliceblue;
    opacity: 60%;
}