@keyframes fadeIn {
    100% { opacity: 1; }
    0% { opacity: 0; }    
}


.paginated{
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.pageNumber{
    margin-top: 5px;
    font-size: 21px;
    color: rgb(227, 227, 207);
}

.cards{
    display: grid;
    justify-content: center;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: auto;
}

.loadingAll{
    display: flex;
    flex-direction: column;
}

.loading{
    font-size: 5em;
    align-items: center;
}


.image{
    border-radius: 50%;
    width: 120mm;
    height: 120mm;
}

.fade{
    animation: fadeIn 3s;
}

.error{

    font-size: 28px;
    display: flex;
    border-radius: 2em;
    align-items: center;
    justify-content: center;
    background-color: rgb(194, 89, 77);
    
}